<div class="container">
     <!-- <p [innerHTML]="detail"></p> -->

     <div>
         <label for="">Giới tính:</label>
        <p>{{gender | gender}}</p>
     </div>
     <div class="form-group">
         <label for="">Nhập username</label>
        <input class="form-control" type="text" placeholder="Readonly input here…" (keyup)="updateInputValue($event)">
        <div class="alert my-30" role="alert"
        [ngClass]="{'alert-success': inputValue.length >=5, 'alert-danger': inputValue.length <= 5}">
        <strong *ngIf="inputValue.length <= 5"  >Phải nhập trên 5 kí tự trở lên</strong>
        <strong *ngIf="inputValue.length > 5" >Bạn đã nhập đúng !!!</strong>
        </div>
     </div>


     <div class="row">
         <div class="col-6">
             <form (submit)="submitForm($event)" action="">
                 <div class="form-group">
                     <label for="">Hero ID</label>
                     <input type="text" class="form-control" [value]="formObject.id" 
                     (change) ="updateFormObjectAttribute('id',$event)"
                     name="id">
                 </div>
                 <div class="form-group">
                     <label for="">Hero Name</label>
                     <input type="text" class="form-control"
                     (change) ="updateFormObjectAttribute('name',$event)"
                      [value]="formObject.name"  name="name">
                 </div>
                 <div class="form-group">
                     <label for="">Image</label>
                     <input type="text" class="form-control"
                     (change) ="updateFormObjectAttribute('img',$event)"
                      [value]="formObject.img"  name="image">
                 </div>

                 <div class="form-check" *ngFor="let skill of templateSkills">
                    <input class="form-check-input" 
                      (click)="updateFormObjectSkill(skill, $event)" 
                      [checked]="checkSkill(skill.id)" 
                      [value]="skill.id"
                      name="skills[]"
                      type="checkbox" id="skill-{{skill.id}}">
                    <label class="form-check-label" for="skill-{{skill.id}}">
                      {{skill.name}}
                    </label>
                  </div>
                 <!-- <div class="form-check" *ngFor="let skill of templateSkills"> 
                     <input type="checkbox" (click)="updateFormObject(skill,$event)"  name="skills[]"
                      [checked]="checkSkill(skill.id)" id="skill-{{skill.id}}" value="skill.id">
                     <label class="from-check-label" for="skill-{{skill.id}}">{{skill.name}}</label> 
                    
                 </div> -->
                 <div>
                     <button class="btn btn-success" type="submit">Save</button>
                 </div>
             </form>
         </div>
     </div>
     <div class="row">
         
         <div class="col-4" *ngFor="let hero of heroes">
             <hero-unit  [hero-data] ="hero"
             (deleted)="parentRemoveHero($event)"
             
             (edit)="parentEditHero($event)"

             > 
                


             </hero-unit>
            </div>
            <!-- <img [src]="hero.img" class="img-thumbnail">
                <p><strong>{{hero.name}}</strong></p>
                <p *ngIf="hero.skills != undefined && hero.skills.length > 0">Skills: </p>
                <p>
                    <span *ngFor="let ski of hero.skills" class="badge text-white bg-warning">{{ski.name}}</span>
                </p>
                <button class="btn  btn-danger" (click)="removeHero(hero)">Xóa</button>
                <button class="btn  btn-danger" (click)="updateHero(hero)">Sửa</button> 
            -->
     </div>
 


     
     
     
 </div>