<div class="row">
    <div class="col-4" *ngFor="let c of comics">
        <div class="card" style="width: 100%; margin-bottom: 10px;">
            <img [src]="c.image"class="img-thumbnail" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">{{c.name}}</h5>
              <div class="" *ngFor="let item of cates">
                <p *ngIf="item.id == c.categoryId" >
                  Thể Loại: {{item.name}}
                </p>
              </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>